html, body {
    height: 100%;
    margin: 0;
}

body {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 150px;
    height: auto;
}